[submodule "sbert_proj/sentence-transformers"]
	path = bert/sbert_proj/sentence-transformers
	url = https://github.com/daiwk/sentence-transformers.git
	branch = master
[submodule "serving/vllm"]
	path = serving/vllm
	url = https://github.com/daiwk/vllm.git
	branch = master
[submodule "llm/mistra/mistral-src"]
	path = llm/mistra_proj/mistral-src
	url = https://github.com/daiwk/mistral-src.git
	branch = master
