[submodule "sbert_proj/sentence-transformers"]
	path = bert/sbert_proj/sentence-transformers
	url = https://github.com/daiwk/sentence-transformers.git
	branch = master
[submodule "serving/vllm"]
	path = serving/vllm
	url = https://github.com/daiwk/vllm.git
	branch = main
[submodule "llm/mistra/mistral-src"]
	path = llm/mistral_proj/mistral-src
	url = https://github.com/daiwk/mistral-src.git
	branch = main
[submodule "llm/llama_proj/llama"]
	path = llm/llama_proj/llama
	url = https://github.com/daiwk/llama.git
	branch = main
[submodule "llm_rec/generative-recommenders"]
	path = llm_rec/generative-recommenders
	url = https://github.com/daiwk/generative-recommenders.git
[submodule "llm/llama_proj/llama3"]
	path = llm/llama_proj/llama3
	url = https://github.com/daiwk/llama3.git
[submodule "recsys/SSLRec"]
	path = recsys/SSLRec
	url = https://github.com/daiwk/SSLRec.git
[submodule "llm/gemma_proj/gemma.cpp"]
	path = llm/gemma_proj/gemma.cpp
	url = https://github.com/daiwk/gemma.cpp.git
[submodule "llm_rec/HLLM"]
	path = llm_rec/HLLM
	url = https://github.com/daiwk/HLLM.git
